/* Clear
=================================================================================*/
.clear {
  clear: both;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

header:after, section:after, div:after, ul:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

/* Position
=================================================================================*/
div.center,
img.center,
input.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.img-left {
  float: left;
  margin: 0 30px 20px 0;
}

.img-right {
  float: right;
  margin: 0 0 20px 30px;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

/* Margin Padding
=================================================================================*/
.mtop0 {
  margin-top: 0px !important;
}

.mtop5 {
  margin-top: 5px !important;
}

.mtop10 {
  margin-top: 10px !important;
}

.mtop15 {
  margin-top: 15px !important;
}

.mtop20 {
  margin-top: 20px !important;
}

.mtop30 {
  margin-top: 30px !important;
}

.mtop40 {
  margin-top: 40px !important;
}

.mtop50 {
  margin-top: 50px !important;
}

.mbottom0 {
  margin-bottom: 0px !important;
}

.mbottom5 {
  margin-bottom: 5px !important;
}

.mbottom10 {
  margin-bottom: 10px !important;
}

.mbottom15 {
  margin-bottom: 15px !important;
}

.mbottom20 {
  margin-bottom: 20px !important;
}

.mbottom30 {
  margin-bottom: 30px !important;
}

.mbottom40 {
  margin-bottom: 40px !important;
}

.mbottom50 {
  margin-bottom: 50px !important;
}

.mleft0 {
  margin-left: 0px !important;
}

.mleft5 {
  margin-left: 5px !important;
}

.mleft10 {
  margin-left: 10px !important;
}

.mleft15 {
  margin-left: 15px !important;
}

.mleft20 {
  margin-left: 20px !important;
}

.mright0 {
  margin-right: 0px !important;
}

.mright5 {
  margin-right: 5px !important;
}

.mright10 {
  margin-right: 10px !important;
}

.mright15 {
  margin-right: 15px !important;
}

.mright20 {
  margin-right: 20px !important;
}

.ptop0 {
  padding-top: 0px !important;
}

.ptop5 {
  padding-top: 5px !important;
}

.ptop10 {
  padding-top: 10px !important;
}

.ptop15 {
  padding-top: 15px !important;
}

.ptop20 {
  padding-top: 20px !important;
}

.ptop30 {
  padding-top: 30px !important;
}

.ptop40 {
  padding-top: 40px !important;
}

.pbottom0 {
  padding-bottom: 0px !important;
}

.pbottom5 {
  padding-bottom: 5px !important;
}

.pbottom10 {
  padding-bottom: 10px !important;
}

.pbottom15 {
  padding-bottom: 15px !important;
}

.pbottom20 {
  padding-bottom: 20px !important;
}

.pleft0 {
  padding-left: 0px !important;
}

.pleft5 {
  padding-left: 5px !important;
}

.pleft10 {
  padding-left: 10px !important;
}

.pleft15 {
  padding-left: 15px !important;
}

.pleft20 {
  padding-left: 20px !important;
}

.pright0 {
  padding-right: 0px !important;
}

.pright5 {
  padding-right: 5px !important;
}

.pright10 {
  padding-right: 10px !important;
}

.pright15 {
  padding-right: 15px !important;
}

.pright20 {
  padding-right: 20px !important;
}

/* Font
=================================================================================*/
.f10 {
  font-size: 10px !important;
  font-weight: normal !important;
}

.f11 {
  font-size: 11px !important;
  font-weight: normal !important;
}

.f12 {
  font-size: 12px !important;
  font-weight: normal !important;
}

.f13 {
  font-size: 13px !important;
  font-weight: normal !important;
}

.f14 {
  font-size: 14px !important;
  font-weight: normal !important;
}

.f16 {
  font-size: 16px !important;
  font-weight: normal !important;
}

.f18 {
  font-size: 18px !important;
  font-weight: normal !important;
}

.f20 {
  font-size: 20px !important;
  font-weight: normal !important;
}

.f22 {
  font-size: 22px !important;
  font-weight: normal !important;
}

.f24 {
  font-size: 24px !important;
  font-weight: normal !important;
}

.f28 {
  font-size: 28px !important;
  font-weight: normal !important;
}

.f10b {
  font-size: 10px !important;
  font-weight: bold !important;
}

.f11b {
  font-size: 11px !important;
  font-weight: bold !important;
}

.f12b {
  font-size: 12px !important;
  font-weight: bold !important;
}

.f13b {
  font-size: 13px !important;
  font-weight: bold !important;
}

.f14b {
  font-size: 14px !important;
  font-weight: bold !important;
}

.f15b {
  font-size: 15px !important;
  font-weight: bold !important;
}

.f16b {
  font-size: 16px !important;
  font-weight: bold !important;
}

.f18b {
  font-size: 18px !important;
  font-weight: bold !important;
}

.f20b {
  font-size: 20px !important;
  font-weight: bold !important;
}

.f22b {
  font-size: 22px !important;
  font-weight: bold !important;
}

.f24b {
  font-size: 24px !important;
  font-weight: bold !important;
}

.f28b {
  font-size: 28px !important;
  font-weight: bold !important;
}

/* pc sp
=================================================================================*/
@media screen and (max-width: 639px) {
  .pc {
    display: none;
  }
}
@media screen and (min-width: 640px) {
  .sp {
    display: none;
  }
}
/* .pc .sp
=================================================================================*/
@media screen and (max-width: 639px) {
  .pc {
    display: none !important;
  }
}

@media screen and (min-width: 640px) {
  .sp {
    display: none !important;
  }
}

/* .googlemap
=================================================================================*/
.googlemap {
  position: relative;
  height: 0;
  overflow: hidden;
}
@media screen and (max-width: 639px) {
  .googlemap {
    padding-top: 75%;
  }
}
@media screen and (min-width: 640px) {
  .googlemap {
    padding-top: 660px;
  }
}
.googlemap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.googlemap__link {
  text-align: right;
  margin-bottom: -2.2em;
}
.googlemap__link a {
  color: #0071BC;
}
@media screen and (max-width: 639px) {
  .googlemap__link {
    display: none;
  }
}

/*# sourceMappingURL=common.css.map */